{{ define "admin/welcome.html" }}
<!DOCTYPE html>
<html>
<head>
    {{ template "header" }}
</head>
<body class="gray-bg">
    <!-- 全局js -->
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row">
                            <span>version:</span>
                        </div>
                        <div class="row">
                            <span>version:</span>
                        </div>
                        <div class="row">
                            <span>version:http://pic.netbian.com/4kfengjing/</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    {{ template "footer" }}
</html>

{{ end }}