{{define "menu/add.html"}}
<!DOCTYPE html>
<html>
<head>
    {{template "header"}}
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-body">
                <a href="index" class="btn btn-primary ">返回</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <form role="form" id="gd_form" action="UpdataMenu" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-4">
                                <input class="form-control" name="name" placeholder="名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">标识</label>
                            <div class="col-sm-4">
                                <input class="form-control" name="mark" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">连接地址</label>
                            <div class="col-sm-4">
                                <input class="form-control" name="url" placeholder="url,只需填写控制器和方法：index/index">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">父菜单</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="parent">
                                    <option value="0">0</option>
                                    {{range .menu}}
                                    {{.Name}}
                                        <option value="{{.Id}}">{{.Name}}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">排序</label>
                            <div class="col-sm-4">
                                <input class="form-control" name="weight" placeholder="排序">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">图标</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="icon">
                                    <option value="">无</option>
                                    {{range .ico}}
                                    <option value="{{.}}">{{.}}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary pull-left m-t-n-xs" type="button" id="gb_button">保存内容
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <p>图标参照</p>
                    {{range .ico}}
                    <p><i class="fa {{.}} fa-fw"></i> ：{{.}}</p>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 全局js -->
{{template "footer" }}
<script>
    $(document).ready(function () {
        $('#gb_button').click(function () {//点击按钮提交
            $.ajax({
                type: "POST",
                url: $('#gd_form').attr("action"),
                data: $('#gd_form').serialize(),
                async: false,
                error: function (request) {
                    layer.msg('网络错误', {icon: 1});
                },
                success: function (data) {
                    if (data.code == 200) {
                        layer.msg(data.msg, {time: 2000, icon: 1});
                        window.location.replace('index')
                    } else {
                        layer.msg(data.msg, {icon: 2});
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>
{{end}}